@tailwind base;

@tailwind components;

@tailwind utilities;

.input {
    @apply border p-2 text-xl my-1 w-full;
}

.form-label {
    @apply font-mono text-2xl text-black font-thin;
}

.btn-success {
    @apply bg-green-700 text-white py-3 px-5 text-lg font-semibold;
}

.btn-success:hover {
    @apply shadow-inner;
}

.btn-primary {
    @apply bg-blue-700 text-white py-3 px-5 text-lg font-semibold;
}

.form-label-1 {
    @apply  block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4;
}

.form-label-2 {
    @apply block text-gray-700 text-lg font-bold mb-2;
}

.form-input-1 {
    @apply bg-gray-100
    appearance-none
    border-2
    rounded
    w-full
    py-2
    px-4
    text-gray-700
    leading-tight
    focus:outline-none
    focus:bg-white
    focus:border-green-500
    border-green-300;
}

.form-input-2 {
    @apply shadow
    appearance-none
    border
    rounded
    w-full
    py-2
    px-3
    text-gray-700
    leading-tight
    focus:outline-none
}
